.formContainer {
  padding: var(--spacing-4);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.formActions {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-4);
}